<!DOCTYPE html>
<html lang="en">
<head>
    <title>repl.it</title>
</head>
<body style="background-color:rgb(227, 14, 14)">
    <h1><%=data.id%></h1>
    <h2>title:<%=data.title%></h2>
    <h2>director:<%=data.director%></h2>   
</body>
</html>
